<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <style>
        .ii a[href] {
            color: #DDDDDD;
        }

        td, p {
            font-size: 16px;
            line-height: 1.6em;
            color: #000000;
        }
    </style>
</head>
<body>
<div bgcolor="#eeeeee" style="font-family:Arial,Helvetica,sans-serif">
    <table align="left" height="100%" width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF"
           style="max-width: 600px">
        <tbody>
        <tr>
            <td align="left" width="100%">
                <h3 style="font-family:HelveticaNeue-Light,arial,sans-serif;font-size:16px;color:#404040;font-weight:normal;margin: 5px 0px;">
                    Hi Akhilesh, </h3>
            </td>
        </tr>
        <tr>
            <td>
                <table align="left" border="0" cellspacing="0" cellpadding="0">
                    <tbody>
                    <tr>
                        <td>
                            Neha accepted your counterparty request.
                            Now you can share your expenses with them on app4pc.
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4" height="10"></td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <div style="color:#404040;font-size:16px;line-height:24px;padding:0;margin:0">Happy
                                sharing!
                            </div>
                            <div style="font-family: Bradley Hand ITC,Monotype Corsiva,Tempus Sans ITC,Comic Sans MS,French Script MT">
                                <font face="Bradley Hand ITC,Monotype Corsiva,Tempus Sans ITC,Comic Sans MS,French Script MT"
                                      color="#563D81" style="font-size: 18px;font-weight: bold">
                                    Team app4pc
                                </font>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3" height="2" style="padding:0;margin:0;font-size:0;line-height:0"></td>
                    </tr>
                    <tr>
                        <td align="left">
                            <table width="36" align="left">
                                <tbody>
                                <tr>
                                    <td>
                                        <a href="https://www.facebook.com/app4pc" target="_blank"
                                           style="text-decoration: none">
                                            <img src="../imageRef/logoFb.png" height="25"
                                                 width="25" alt="f" class="CToWUd">
                                        </a>
                                    </td>
                                    <td>
                                        &nbsp;
                                    </td>
                                    <td>
                                        <a href="https://twitter.com/app4pc" target="_blank"
                                           style="text-decoration: none">
                                            <img src="../imageRef/logotw.png" height="25"
                                                 width="25" alt="t" class="CToWUd">
                                        </a>
                                    </td>
                                    <td>
                                        &nbsp;
                                    </td>
                                    <td>
                                        <a href="https://plus.google.com/115184745863349538850/about" target="_blank"
                                           style="text-decoration: none">
                                            <img src="../imageRef/logoGp.png" height="25"
                                                 width="25" alt="G+" class="CToWUd">
                                        </a>
                                    </td>
                                    <td>
                                        &nbsp;
                                    </td>
                                    <td>
                                        <a href="https://www.linkedin.com/company/app4pc-com" target="_blank"
                                           style="text-decoration: none">
                                            <img src="../imageRef/logoLin.png" height="25"
                                                 width="25" alt="f" class="CToWUd">
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>