<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <style>
        .ii a[href] {
            color: #DDDDDD;
        }
        td, p{
            font-size:16px;
            line-height: 1.4em;
            color: #000000;
        }
    </style>
</head>
<body>
<div bgcolor="#eeeeee" style="font-family:Arial,Helvetica,sans-serif">
    <table align="left" height="100%" width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF" style="max-width: 600px">
        <tbody>
        <tr>
            <td align="left" width="100%">
                <h3 style="font-family:HelveticaNeue-Light,arial,sans-serif;font-size:16px;color:#404040;font-weight:normal;margin: 10px 0px;"> Hello Akhilesh! </h3>
            </td>
        </tr>
        <tr>
            <td>
                <table align="left" border="0" cellspacing="0" cellpadding="0">
                    <tbody>
                    <tr>
                        <td colspan="4" height="5"></td>
                    </tr>
                    <tr>
                        <td>
                            Neha just added you as a counterparty.
                            Start sharing expenses with them.
                        </td>
                    </tr>
                    <tr>
                        <td height="5">

                        </td>
                    </tr>
                    <tr>
                        <td>
                            Manage requests below.
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4" height="10"></td>
                    </tr>
                    <tr>
                        <td align="left">
                            <table align="left">
                                <tr>
                                    <td align="left">
                                        <table align="left">
                                            <tbody>
                                            <tr>
                                                <td style="background-color: #785fa3;border-color: #2d4473;padding: 3px 15px;border-radius: 3px;color: #ffffff">
                                                    <font color="#FFFFFF" size="2" face="Helvetica Neue, Arial, Helvetica, sans-serif">
                                                        <a href="http://www.app4pc.com" target="_blank" style="font-size: 14px;color: #ffffff;text-decoration: none">
                                                            <b style="color: #ffffff;text-decoration: none">
                                                                Manage Request
                                                            </b>
                                                        </a>
                                                    </font>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>
                                Do you want to learn more about how to share expenses?<br>
                                Checkout our <a href="http://www.app4pc.com">tour</a>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <div style="color:#404040;font-size:16px;line-height:24px;padding:0;margin:0">Happy sharing expenses,</div>
                            <div style="font-family: Bradley Hand ITC,Monotype Corsiva,Tempus Sans ITC,Comic Sans MS,French Script MT">
                                <font face="Bradley Hand ITC,Monotype Corsiva,Tempus Sans ITC,Comic Sans MS,French Script MT" color="#563D81" style="font-size: 18px;font-weight: bold">
                                    Team app4pc
                                </font>
                                <!--<img border="0" width="167" height="32" src="../imageRef/signat.png" alt="team app4pc" class="CToWUd">-->
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3" height="2" style="padding:0;margin:0;font-size:0;line-height:0"></td>
                    </tr>
                    <tr>
                        <td align="left">
                            <table width="36" align="left">
                                <tbody>
                                <tr>
                                    <td>
                                        <a href="https://www.facebook.com/app4pc" target="_blank" style="text-decoration: none">
                                            <img src="../imageRef/logoFb.png" height="25" width="25" alt="f" class="CToWUd">
                                        </a>
                                    </td>
                                    <td>
                                        &nbsp;
                                    </td>
                                    <td>
                                        <a href="https://twitter.com/app4pc" target="_blank" style="text-decoration: none">
                                            <img src="../imageRef/logotw.png" height="25" width="25" alt="t" class="CToWUd">
                                        </a>
                                    </td>
                                    <td>
                                        &nbsp;
                                    </td>
                                    <td>
                                        <a href="https://plus.google.com/115184745863349538850/about" target="_blank" style="text-decoration: none">
                                            <img src="../imageRef/logoGp.png" height="25" width="25" alt="G+" class="CToWUd">
                                        </a>
                                    </td>
                                    <td>
                                        &nbsp;
                                    </td>
                                    <td>
                                        <a href="https://www.linkedin.com/company/app4pc-com" target="_blank" style="text-decoration: none">
                                            <img src="../imageRef/logoLin.png" height="25" width="25" alt="f" class="CToWUd">
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>