<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <style>
        p, h1, h2, td{
            font-family: arial,sans-serif;
            color: #244061;
            font-weight: 600;
        }
    </style>
</head>
<body>
<table border="0" cellspacing="0" cellpadding="0" width="629" style="margin-left:14.2pt">
    <tbody>
    <tr style="height:157.6pt">
        <td width="629" style="padding:0cm 0cm 0cm 0cm;height:157.6pt">
            <span>
               <span>
                   <p class="MsoNormal"><a href="http://www.app4pc.com/" target="_blank"><span style="color:#244061;text-decoration:none">
                       <img border="0" width="635" height="261" src="../imageRef/ban.jpg" alt="www.app4pc.com" class="CToWUd"></span></a></p>
                </span>
            </span>
            <span>
               <div>
                   <table width="630" align="center" border="0" cellspacing="0" cellpadding="0">
                       <tbody>
                       <tr>
                           <td colspan="5" style="padding:0;margin:0;font-size:0;line-height:0">
                               <p class="MsoNormal"><b><i><span style="font-size:14.0pt;color:#17365d">Hi Akhilesh,</span></i></b></p>
                           </td>
                       </tr>
                       <tr>
                           <td colspan="4" height="10"></td>
                       </tr>
                       <tr>
                           <td colspan="4">
                               <p class="MsoNormal">
                                   Welcome to app4pc! Your Automated Personal Finance Manager.
                               </p>
                               <p class="MsoNormal">
                                   Congratulations on taking an important step towards securing your financial future. While you relax, app4pc does the following and a lot more for you.
                               </p>
                           </td>
                       </tr>
                       <tr>
                           <td colspan="4" height="40"></td>
                       </tr>
                       <tr>
                           <td align="center">
                               <table border="0" align="left" cellspacing="0" cellpadding="0" width="50%">
                                   <tbody>
                                   <tr>
                                       <td>
                                           <table>
                                               <tbody>
                                               <tr>
                                                   <td>
                                                       <img src="../imageRef/iconsett.png" alt="star" width="30" height="28" border="0" class="CToWUd">
                                                   </td>
                                                   <td style="font-size: 14px">
                                                       Tracks your spend automatically
                                                   </td>
                                               </tr>
                                               </tbody>
                                           </table>
                                       </td>
                                   </tr>
                                   </tbody>
                               </table>
                               <table width="50%" border="0" align="left" cellspacing="0" cellpadding="0">
                                   <tbody>
                                   <tr>
                                       <td>
                                           <table>
                                               <tbody>
                                               <tr>
                                                   <td>
                                                       <img src="../imageRef/iconChrt.png" alt="star" width="30" height="28" border="0" class="CToWUd">
                                                   </td>
                                                   <td style="font-size: 14px">
                                                       Categorizes your spend
                                                   </td>
                                               </tr>
                                               </tbody>
                                           </table>
                                       </td>
                                   </tr>
                                   </tbody>
                               </table>
                           </td>
                       </tr>
                       <tr>
                           <td colspan="4" height="10"></td>
                       </tr>
                       <tr>
                           <td align="center">
                               <table border="0" align="left" cellspacing="0" cellpadding="0" width="50%">
                                   <tbody>
                                   <tr>
                                       <td>
                                           <table>
                                               <tbody>
                                               <tr>
                                                   <td>
                                                       <img src="../imageRef/iconlike.png" alt="star" width="30" height="28" border="0" class="CToWUd">
                                                   </td>
                                                   <td style="font-size: 14px">
                                                       Consolidates your bank
                                                   </td>
                                               </tr>
                                               </tbody>
                                           </table>
                                       </td>
                                   </tr>
                                   </tbody>
                               </table>
                               <table width="50%" border="0" align="left" cellspacing="0" cellpadding="0">
                                   <tbody>
                                   <tr>
                                       <td>
                                           <table>
                                               <tbody>
                                               <tr>
                                                   <td>
                                                       <img src="../imageRef/iconShare.png" alt="star" width="30" height="28" border="0" class="CToWUd">
                                                   </td>
                                                   <td style="font-size: 14px">
                                                       Allows you to share and manage expenses
                                                   </td>
                                               </tr>
                                               </tbody>
                                           </table>
                                       </td>
                                   </tr>
                                   </tbody>
                               </table>
                           </td>
                       </tr>
                       <tr>
                           <td colspan="4" height="10"></td>
                       </tr>
                       <tr>
                           <td align="center">
                               <table border="0" align="left" cellspacing="0" cellpadding="0" width="50%">
                                   <tbody>
                                   <tr>
                                       <td>
                                           <table>
                                               <tbody>
                                               <tr>
                                                   <td>
                                                       <img src="../imageRef/iconsec.png" alt="star" width="30" height="28" border="0" class="CToWUd">
                                                   </td>
                                                   <td style="font-size: 14px">
                                                       Tracks and lets you manage your monthly bill payments
                                                   </td>
                                               </tr>
                                               </tbody>
                                           </table>
                                       </td>
                                   </tr>
                                   </tbody>
                               </table>
                               <table width="50%" border="0" align="left" cellspacing="0" cellpadding="0">
                                   <tbody>
                                   <tr>
                                       <td>
                                           <table>
                                               <tbody>
                                               <tr>
                                                   <td>
                                                       <img src="../imageRef/iconsec.png" alt="star" width="30" height="28" border="0" class="CToWUd">
                                                   </td>
                                                   <td style="font-size: 14px">
                                                       Tracks and lets you manage your monthly bill payments
                                                   </td>
                                               </tr>
                                               </tbody>
                                           </table>
                                       </td>
                                   </tr>
                                   </tbody>
                               </table>
                           </td>
                       </tr>
                       <tr>
                           <td colspan="4" height="20"></td>
                       </tr>
                       <tr>
                           <td colspan="3" align="center">
                               <table align="center" cellpadding="0" cellspacing="0" style="font-family:HelveticaNeue-Light,Arial,sans-serif;margin:0;padding:0">
                                   <tbody>
                                   <tr>
                                       <td align="center" style="margin:0;text-align:center">
                                           <a href="https://www.app4pc.com" style="font-size:16px;line-height:16px;text-decoration:none;color:#ffffff;font-weight:bold;border-radius:2px;background-color:#0096d3;padding:14px 30px;display:block" target="_blank">Checkout our tour</a></td>
                                   </tr>
                                   </tbody>
                               </table>
                           </td>
                       </tr>
                       <tr>
                           <td colspan="4" height="20"></td>
                       </tr>
                       <tr>
                           <td>
                               <h2 style="font-family:HelveticaNeue-Light,arial,sans-serif;color:#563D81;font-weight:normal;">
                                   Security is our middle name.
                               </h2>
                           </td>
                       </tr>
                       <tr>
                           <td>
                               <p class="MsoNormal">
                                   app4pc never knows or asks for your bank account or credit card credentials, OTPs or PINs. And we advise you to keep these information to yourself only.
                               </p>
                           </td>
                       </tr>
                       <tr>
                           <td width="100%" align="center">
                               <img align="center" src="http://talentenbank.com/wp-content/uploads/2012/04/Secured-Credit-Card.jpg" style="height: 150px" alt="Secured">
                           </td>
                       </tr>
                       <tr>
                           <td>
                               <p class="MsoNormal">
                                   If you need any further information, please write to us at team@app4pc.com or go to FAQ section on our web page.

                               </p>
                           </td>
                       </tr>
                       <tr>
                           <td colspan="4" height="5"></td>
                       </tr>
                       <tr>
                           <td colspan="4">
                               <div style="color:#404040;font-size:18px;line-height:24px;padding:0;margin:0">Happy saving!</div>
                               <div style="color:#404040;font-size:18px;line-height:24px;font-weight:bold;padding:0;margin:0">
                                   Team app4pc
                               </div>
                           </td>
                       </tr>
                       </tbody>
                   </table>
               </div>
            </span>
        </td>
    </tr>
    <tr>
        <td width="100%">
            <table border="0" cellpadding="0" width="100%">
                <tbody>
                <tr>
                    <td>
                        <table width="100%" align="center" border="0" cellspacing="0" cellpadding="0" bgcolor="#563D81" style="border-radius: 8px">
                            <tbody>
                                <tr>
                                    <td width="5%">
                                        &nbsp;
                                    </td>
                                    <td width="90%">
                                        <table width="100%">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                <tr>
                                                    <td colspan="2" height="30"></td>
                                                </tr>
                                                <tr>
                                                    <td width="360" valign="top">
                                                        <div style="color:#DDDDDD;font-size:12px;line-height:12px;padding:0;margin:0"> © 2015 app4pc Adviser Pvt. Limited. All Rights Reserved.</div>
                                                        <div style="line-height:5px;padding:0;margin:0">&nbsp;</div>
                                                        <div style="color:#DDDDDD;font-size:12px;line-height:12px;padding:0;margin:0">1053, Sector 40,
                                                            Gurgaon - 122002, India
                                                        </div>
                                                        <div style="color:#DDDDDD;font-size:12px;line-height:12px;padding:0;margin:0">
                                                            Phone: +91 124 407 3489<br>
                                                            Email: <a href="mailto:info@app4pc.com " style="color:#DDDDDD;font-size:12px;">info@app4pc.com </a>
                                                        </div>
                                                    </td>
                                                    <td align="right" valign="top"><span style="line-height:20px;font-size:10px">
                                        <a href="#" target="_blank">
                                            <img src="../imageRef/gpW1.png" alt="Android Download" width="45px" height="45px" class="CToWUd">
                                        </a>&nbsp;</span><span style="line-height:20px;font-size:10px">
                                        <a href="#" target="_blank">
                                            <img src="../imageRef/apW1.png" alt="iOS Download" width="45px" height="45px" class="CToWUd">
                                        </a>
                                    </span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="2" height="5"></td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div style="color:#DDDDDD;font-size:12px;line-height:12px;padding:0;margin:0"><a href="https://www.app4pc.com/campaign/0MEA408050010/?l=%2Fpage.php%3Fp%3Dinfo%2Fprivacy%26utm_campaign%3Dheroes%26utm_medium%3Demail%26utm_source%3Dprivacypolicy&amp;uniqid=565df09ce0f0f4239de3738cec05a0a4&amp;linkid=2" style="color:#DDDDDD;text-decoration:underline" target="_blank">Privacy Policy</a> | <a href="https://www.app4pc.com/campaign/0MEA408050011/?l=%2Fpage.php%3Fp%3Dinfo%2Fterms%26utm_campaign%3Dheroes%26utm_medium%3Demail%26utm_source%3Dtermsandconditions&amp;uniqid=565df09ce0f0f4239de3738cec05a0a4&amp;linkid=3" style="color:#DDDDDD;text-decoration:underline" target="_blank">Terms and Conditions</a></div>
                                                        <div style="line-height:10px;padding:0;margin:0">&nbsp;</div>
                                                        <div style="color:#DDDDDD;font-size:12px;line-height:12px;padding:0;margin:0"><a href="https://www.app4pc.com/users/notifications/unsubscribe_notifications.php?token=c6107588a9687f3b8a4c6bf7abc5311c468f916b&amp;userid=13375567&amp;expiration_time=1438569876&amp;uniqid=565df09ce0f0f4239de3738cec05a0a4&amp;linkid=4" style="color:#DDDDDD;text-decoration:underline" target="_blank">Unsubscribe</a> | <a href="mailto:support@app4pc.com" style="color:#DDDDDD;text-decoration:underline" target="_blank">support@app4pc.com</a></div>
                                                    </td>
                                                    <td align="right">
                                        <span style="line-height:20px;font-size:10px">
                                            <table width="80">
                                                <tbody><tr>
                                                    <td class="social facebook" style="background-color: #3b5998;border-color: #2d4473;padding: 2px 4px 0 10px;border-radius: 3px;">
                                                        <a href="https://www.facebook.com/app4pc" target="_blank" style="font-size: 15px;border-radius: 3px;">
                                                            <font color="#FFFFFF" size="4" face="Helvetica Neue, Arial, Helvetica, sans-serif">f</font>
                                                        </a>
                                                    </td>
                                                    <td class="social twitter" style="font-size: 15px;background-color: #00acee;border-color: #0087bb;padding: 2px 4px 0 9px;border-radius: 3px;">
                                                        <a href="https://twitter.com/app4pc" target="_blank" style="font-weight: bold;border-radius: 3px;">
                                                            <font color="#FFFFFF" size="4" face="Helvetica Neue, Arial, Helvetica, sans-serif"><b>t</b></font>
                                                        </a>
                                                    </td>
                                                    <td class="social google-plus" style="background-color: #DB4A39;border-color: #CC0000;border-radius: 3px;">
                                                        <a href="https://plus.google.com/115184745863349538850/about" target="_blank" style="font-size: 15px;border-radius: 3px;padding: 4px 1px 0px 2px;">
                                                            <font color="#FFFFFF" size="3" face="Helvetica Neue, Arial, Helvetica, sans-serif">G+</font>
                                                        </a>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </span>
                                                        <div style="line-height:5px;padding:0;margin:0">&nbsp;</div>
                                                        <div style="color:#DDDDDD;font-size:12px;line-height:12px;padding:0;margin:0">Invite your friends: <a href="http://www.app4pc.com/invite/" style="color:#DDDDDD;text-decoration:underline" target="_blank">www.app4pc.com/invite/</a></div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="2" height="10"></td>
                                                </tr>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                    <td width="5%">
                                        &nbsp;
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>