<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <style>
        .ii a[href] {
            color: #DDDDDD;
        }
        p, td{
            font-size: 16px;
            font-family: Arial, sans-serif;
        }
    </style>
</head>
<body>
<div bgcolor="#eeeeee" style="font-family:Arial,Helvetica,sans-serif">
    <table align="center" height="100%" width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#eeeeee">
        <tbody>
        <tr>
            <td>
                <table width="690" align="center" border="0" cellspacing="0" cellpadding="0" bgcolor="#eeeeee">
                    <tbody>
                    <tr>
                        <td colspan="3" height="110" align="center" border="0" cellspacing="0" cellpadding="0" bgcolor="#eeeeee" style="padding:0;margin:0;font-size:1;line-height:0;height: 67px;background: #563D81;">
                            <table width="690" align="center" border="0" cellspacing="0" cellpadding="0">
                                <tbody>
                                <tr>
                                    <td width="20"></td>
                                    <td align="left" valign="middle" style="padding:0;margin:0;font-size:1;line-height:0">
                                        <img src="../imageRef/app4pc.png" height="85" width="84px" alt="app4pc" class="CToWUd"></td>
                                    <td align="right" valign="middle" style="padding:0;margin:0;font-size:1;line-height:0">
                                        <table>
                                            <tbody>
                                            <tr>
                                                <td>
                                                    <table>
                                                        <tbody>
                                                        <tr>
                                                            <td>
                                                                <img src="../imageRef/mobile-icon.png" alt="app snapshot" height="60" class="CToWUd">
                                                            </td>
                                                            <td>
                                                                <table>
                                                                    <tbody>
                                                                    <tr>
                                                                        <td>
                                                                            <p style="font-weight:bold;text-transform:uppercase;font-size:14px;color:#FFFFFF">
                                                                                &nbsp;Download
                                                                            </p>
                                                                            <p style="font-weight:bold;text-transform:uppercase;font-size:14px;color:#FFFFFF">
                                                                                &nbsp;Mobile App
                                                                            </p>
                                                                        </td>
                                                                    </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table align="center" height="100%" width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#eeeeee">
                                <tbody>
                                <tr>
                                    <td>
                                        <table align="center" height="100%" width="750px" border="0" cellspacing="0" cellpadding="0" bgcolor="#eeeeee" style="width:750px!important">
                                            <tbody>
                                            <tr>
                                                <td style="background: #563D81;">
                                                    <table width="100%" align="center" cellspacing="0" cellpadding="0" bgcolor="#eeeeee" style="border:1px solid #563D81;border-radius: 8px!important;">
                                                        <tbody>
                                                        <tr bgcolor="#ffffff">
                                                            <td colspan="3" align="center" style="border-radius: 8px!important;">
                                                                <table width="630" align="center" border="0" cellspacing="0" cellpadding="0">
                                                                    <tbody>
                                                                    <tr>
                                                                        <td colspan="3" height="60"></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td align="center" colspan="3">
                                                                            <h1 style="font-family:HelveticaNeue-Light,arial,sans-serif;font-size:32px;color:#404040;font-weight:normal; margin: 15px 0px;"> Hello Akhilesh, </h1>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            <img src="../imageRef/smrtPhone.png" alt="app snap" class="CToWUd a6T" tabindex="0" width="200px" height="400px">
                                                                        </td>
                                                                        <td style="padding: 0 0 0 20px">
                                                                            <h1 style="font-family:HelveticaNeue-Light,arial,sans-serif;font-size:32px;color:#999999;font-weight:normal;">
                                                                                Welcome to app4pc! Your Automated Personal Finance Manager
                                                                            </h1>
                                                                            <h1>
                                                                                &nbsp;
                                                                            </h1>
                                                                        </td>
                                                                    </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                        <tr bgcolor="#ffffff">
                                                            <td width="30" style="border-radius: 8px!important;"></td>
                                                            <td>
                                                                <table width="630" align="center" border="0" cellspacing="0" cellpadding="0">
                                                                    <tbody>
                                                                    <tr>
                                                                        <td colspan="4" height="10"></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td colspan="4">
                                                                            <p>
                                                                                Congratulations on taking an important step towards securing your financial future. While you relax, app4pc does the following and a lot more for you.
                                                                            </p>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td colspan="4" height="15"></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td width="50%">
                                                                            <table width="100%" border="0">
                                                                                <tbody>
                                                                                <tr>
                                                                                    <td>
                                                                                        <table>
                                                                                            <tbody>
                                                                                            <tr>
                                                                                                <td height="20">
                                                                                                    <img src="../imageRef/iconsett.png" alt=" *" width="30" height="28" border="0" class="CToWUd">
                                                                                                </td>
                                                                                                <td height="20" style="font-size: 16px;padding: 0 0 0 13px;">
                                                                                                    Tracks your spend automatically
                                                                                                </td>
                                                                                            </tr>
                                                                                            </tbody>
                                                                                        </table>
                                                                                    </td>
                                                                                </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </td>
                                                                        <td>
                                                                            <table width="100%" border="0">
                                                                                <tbody>
                                                                                <tr>
                                                                                    <td>
                                                                                        <table>
                                                                                            <tbody>
                                                                                            <tr>
                                                                                                <td height="20">
                                                                                                    <img src="../imageRef/iconChrt.png" alt=" *" width="30" height="28" border="0" class="CToWUd">
                                                                                                </td>
                                                                                                <td height="20" style="font-size: 16px;padding: 0 0 0 13px;">
                                                                                                    Categorizes your spend
                                                                                                </td>
                                                                                            </tr>
                                                                                            </tbody>
                                                                                        </table>
                                                                                    </td>
                                                                                </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td colspan="4" height="10"></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td width="50%">
                                                                            <table width="100%" border="0">
                                                                                <tbody>
                                                                                <tr>
                                                                                    <td>
                                                                                        <table>
                                                                                            <tbody>
                                                                                            <tr>
                                                                                                <td height="20">
                                                                                                    <img src="../imageRef/iconBank.png" alt=" *" width="30" height="28" border="0" class="CToWUd">
                                                                                                </td>
                                                                                                <td height="20" style="font-size: 16px;padding: 0 0 0 13px;">
                                                                                                    Consolidates your bank accounts
                                                                                                </td>
                                                                                            </tr>
                                                                                            </tbody>
                                                                                        </table>
                                                                                    </td>
                                                                                </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </td>
                                                                        <td>
                                                                            <table width="100%" border="0">
                                                                                <tbody>
                                                                                <tr>
                                                                                    <td>
                                                                                        <table>
                                                                                            <tbody>
                                                                                            <tr>
                                                                                                <td height="20" style="padding: 6px 0;">
                                                                                                    <img src="../imageRef/iconMoney.png" alt=" *" width="30" height="18" border="0" class="CToWUd">
                                                                                                </td>
                                                                                                <td height="20" style="font-size: 16px;padding: 0 0 0 13px;">
                                                                                                    Simplifies cash expense management
                                                                                                </td>
                                                                                            </tr>
                                                                                            </tbody>
                                                                                        </table>
                                                                                    </td>
                                                                                </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td colspan="4" height="10"></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td width="50%">
                                                                            <table border="0" width="100%">
                                                                                <tbody>
                                                                                <tr>
                                                                                    <td>
                                                                                        <table>
                                                                                            <tbody>
                                                                                            <tr>
                                                                                                <td height="20">
                                                                                                    <img src="../imageRef/iconBill.png" alt=" *" width="30" height="28" border="0" class="CToWUd">
                                                                                                </td>
                                                                                                <td height="20" style="font-size: 16px;padding: 7px 0 7px 13px;">
                                                                                                    Tracks and lets you manage your monthly bill payments
                                                                                                </td>
                                                                                            </tr>
                                                                                            </tbody>
                                                                                        </table>
                                                                                    </td>
                                                                                </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </td>
                                                                        <td>
                                                                            <table width="100%" border="0">
                                                                                <tbody>
                                                                                <tr>
                                                                                    <td>
                                                                                        <table>
                                                                                            <tbody>
                                                                                            <tr>
                                                                                                <td height="20">
                                                                                                    <img src="../imageRef/iconShare.png" alt=" *" width="30" height="28" border="0" class="CToWUd">
                                                                                                </td>
                                                                                                <td height="20" style="font-size: 16px;padding: 0 0 0 13px;">
                                                                                                    Allows you to share and manage expenses
                                                                                                </td>
                                                                                            </tr>
                                                                                            </tbody>
                                                                                        </table>
                                                                                    </td>
                                                                                </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td colspan="4" height="12"></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            Checkout our <a href="http://www.app4pc.com"> tour </a>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td colspan="4" height="20"></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td colspan="2">
                                                                            Install the app so that our elves can start working their magic!
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td colspan="4" height="20"></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td align="center" colspan="2">
                                                                            <img src="../imageRef/gplay.png" alt="Android App" height="35px" width="119px">
                                                                            <img src="../imageRef/iapp.png" alt="iOS App" height="35px" width="119px">
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td colspan="4" height="5"></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td colspan="2">
                                                                            <h3 style="font-family:HelveticaNeue-Light,arial,sans-serif;color:#563D81;font-weight:normal;">
                                                                                Security is our middle name
                                                                            </h3>
                                                                            <p>
                                                                                app4pc never knows or asks for your bank account or credit card credentials, OTPs or PINs. And we advise you to keep these information to yourself only.
                                                                            </p>
                                                                            <p>
                                                                                If you need any further information, please write to us at
                                                                                <a href="mailto:team@app4pc.com">team@app4pc.com</a> or go to
                                                                                <a href="http://www.app4pc.com" target="_blank">FAQ</a> section on our web page.
                                                                            </p>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td colspan="4" height="5"></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td colspan="4">
                                                                            <table>
                                                                                <tbody>
                                                                                <tr>
                                                                                    <td style="color:#404040;font-size:18px;line-height:24px;padding:0;margin:0">
                                                                                        Happy saving!
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td>
                                                                                        <div style="font-family: Bradley Hand ITC,Monotype Corsiva,Tempus Sans ITC,Comic Sans MS,French Script MT">
                                                                                            <font face="Bradley Hand ITC,Monotype Corsiva,Tempus Sans ITC,Comic Sans MS,French Script MT" color="#563D81" style="font-size: 28px;font-weight: bold">
                                                                                                Team app4pc
                                                                                            </font>
                                                                                            <!--<img border="0" width="167" height="32" src="../imageRef/signat.png" alt="team app4pc" class="CToWUd">-->
                                                                                        </div>
                                                                                    </td>
                                                                                </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td colspan="3" height="10" style="padding:0;margin:0;font-size:0;line-height:0"></td>
                                                                    </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                            <td width="30" bgcolor="#ffffff" style="border-radius: 8px!important;"></td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="background: #563D81">
                            <table width="690" align="center" border="0" cellspacing="0" cellpadding="0" bgcolor="#563D81">
                                <tbody>
                                <tr>
                                    <td colspan="2" height="30"></td>
                                </tr>
                                <tr>
                                    <td width="50%" valign="top" style="padding: 0 0 0 5px;">
                                        <table cellpadding="0" cellspacing="0" width="100%">
                                            <tbody>
                                            <tr>
                                                <td height="28" style="color:#DDDDDD;font-size:12px;line-height:12px;padding:0;margin:0;white-space: nowrap">
                                                    &copy; 2015 app4pc Advisor Pvt. Limited. All Rights Reserved.
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <table cellpadding="0" cellspacing="0" width="100%">
                                            <tbody>
                                            <tr>
                                                <td height="28" style="color:#DDDDDD;font-size:12px;line-height:12px;padding:0;margin:0;">
                                                    1053, Sector 40, Gurgaon - 122002, India
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <table cellpadding="0" cellspacing="0" width="100%">
                                            <tbody>
                                            <tr>
                                                <td height="28" style="color:#DDDDDD;font-size:12px;line-height:12px;padding:0;margin:0;">
                                                    Phone: <font style="color:#DDDDDD;font-size:12px;">+91 124 407 3489</font>                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <table cellpadding="0" cellspacing="0" width="100%">
                                            <tbody>
                                            <tr>
                                                <td height="28" style="color:#DDDDDD;font-size:12px;line-height:12px;padding:0;margin:0;">
                                                    Email: <a href="mailto:info@app4pc.com " style="color:#DDDDDD;font-size:12px;">info@app4pc.com </a>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <table cellpadding="0" cellspacing="0" width="100%">
                                            <tbody>
                                            <tr>
                                                <td height="28" style="color:#DDDDDD;font-size:12px;line-height:12px;padding:0;margin:0;">
                                                    <a href="https://www.app4pc.com" style="color:#DDDDDD;text-decoration:underline" target="_blank">Privacy Policy</a> |
                                                    <a href="https://www.app4pc.com" style="color:#DDDDDD;text-decoration:underline" target="_blank">Terms and Conditions</a>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <table cellpadding="0" cellspacing="0" width="100%">
                                            <tbody>
                                            <tr>
                                                <td height="28" style="color:#DDDDDD;font-size:12px;line-height:12px;padding:0;margin:0;">
                                                    <a href="https://www.app4pc.com" style="color:#DDDDDD;text-decoration:underline" target="_blank">Unsubscribe</a> |
                                                    <a href="https://www.app4pc.com" style="color:#DDDDDD;text-decoration:underline" target="_blank">support@app4pc.com</a>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                    <td width="50%" valign="bottom">
                                        <table width="100%" valign="bottom" cellspacing="0" cellpadding="0">
                                            <tbody>
                                            <tr>
                                                <td>
                                                    <table width="36" align="right">
                                                        <tbody>
                                                        <tr>
                                                            <td>
                                                                <a href="https://www.facebook.com/app4pc" target="_blank" style="text-decoration: none">
                                                                    <img src="../imageRef/logoFb.png" height="40px" width="40" alt="f" class="CToWUd">
                                                                </a>
                                                            </td>
                                                            <td>
                                                                &nbsp;
                                                            </td>
                                                            <td>
                                                                <a href="https://twitter.com/app4pc" target="_blank" style="text-decoration: none">
                                                                    <img src="../imageRef/logotw.png" height="40px" width="40" alt="t" class="CToWUd">
                                                                </a>
                                                            </td>
                                                            <td>
                                                                &nbsp;
                                                            </td>
                                                            <td>
                                                                <a href="https://plus.google.com/115184745863349538850/about" target="_blank" style="text-decoration: none">
                                                                    <img src="../imageRef/logoGp.png" height="40px" width="40" alt="G+" class="CToWUd">
                                                                </a>
                                                            </td>
                                                            <td>
                                                                &nbsp;
                                                            </td>
                                                            <td>
                                                                <a href="https://www.linkedin.com/company/app4pc-com" target="_blank" style="text-decoration: none">
                                                                    <img src="../imageRef/logoLin.png" height="40px" width="40" alt="f" class="CToWUd">
                                                                </a>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <table align="right" valign="bottom" cellpadding="0" cellspacing="0">
                                                        <tbody>
                                                        <tr>
                                                            <td align="right" valign="bottom">
                                                                <table valign="bottom" cellpadding="0" cellspacing="0">
                                                                    <tbody>
                                                                    <tr>
                                                                        <td height="10px">

                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td align="center" valign="bottom">
                                                                            <p style="color:#DDDDDD;font-size:12px;line-height:12px;padding:0;margin:0;text-align: center">
                                                                                <a href="http://www.app4pc.com" style="color:#DDDDDD;text-decoration:underline" target="_blank">Invite</a> your friends.
                                                                            </p>
                                                                        </td>
                                                                    </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" height="10"></td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>