<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <style>
        .ii a[href] {
            color: #DDDDDD;
        }
        td, p{
            font-size:16px;
            line-height: 1.4em;
            color: #000000;
        }
        p{
            margin: 12px 1px;
        }
    </style>
</head>
<body>
<div bgcolor="#eeeeee" style="font-family:Arial,Helvetica,sans-serif">
    <table align="left" height="100%" width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF" style="max-width: 600px">
        <tbody>
        <tr>
            <td align="left" width="100%">
                <h3 style="font-family:HelveticaNeue-Light,arial,sans-serif;font-size:16px;color:#404040;font-weight:normal;margin: 0px;"> Hello *|FNAME|*, </h3>
            </td>
        </tr>
        <tr>
            <td>
                <table align="left" border="0" cellspacing="0" cellpadding="0">
                    <tbody>
                    <tr>
                        <td>
                            <p>
                                We are the co-founders of app4pc and we thank you for giving us a chance!
                            </p>
                            <p>
                                Hope that you have had a good experience with app4pc over the last
                                10 days and it is meeting the expectations that you have from your personal
                                finance management app.
                            </p>
                            <p>
                                Please write to us
                            </p>
                            <p>
                                We value your feedback and would love to hear from you on how we can serve
                                you better. Also if you have faced any issues or face any in the future,
                                please write to us directly at
                                <a href="mailto:management@app4pc.com" style="text-decoration:underline" target="_blank">management@app4pc.com</a>
                            </p>
                            <p>
                                In case you have liked the product, we certainly do not mind a note
                                of appreciation :)<br> Please <a href="http://www.app4pc.com">rate</a> us on the Google Play Store or App Store and give your feedback.
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4" height="10"></td>
                    </tr>
                    <tr>
                        <td align="left">
                            <img src="../imageRef/gplay.png" alt="Android App" height="35px" width="119px">
                            <img src="../imageRef/iapp.png" alt="iOS App" height="35px" width="119px">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4" height="10"></td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <div style="color:#404040;font-size:16px;line-height:24px;padding:0;margin:0">Cheers!</div>
                            <div style="font-family: Bradley Hand ITC,Monotype Corsiva,Tempus Sans ITC,Comic Sans MS,French Script MT">
                                <font face="Bradley Hand ITC,Monotype Corsiva,Tempus Sans ITC,Comic Sans MS,French Script MT" color="#563D81" style="font-size: 18px;font-weight: bold">
                                    Team app4pc
                                </font>
                                <!--<img border="0" width="167" height="32" src="../imageRef/signat.png" alt="team app4pc" class="CToWUd">-->
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3" height="2" style="padding:0;margin:0;font-size:0;line-height:0"></td>
                    </tr>
                    <tr>
                        <td align="left">
                            <table width="36" align="left">
                                <tbody>
                                <tr>
                                    <td>
                                        <a href="https://www.facebook.com/app4pc" target="_blank" style="text-decoration: none">
                                            <img src="../imageRef/logoFb.png" height="25" width="25" alt="f" class="CToWUd">
                                        </a>
                                    </td>
                                    <td>
                                        &nbsp;
                                    </td>
                                    <td>
                                        <a href="https://twitter.com/app4pc" target="_blank" style="text-decoration: none">
                                            <img src="../imageRef/logotw.png" height="25" width="25" alt="t" class="CToWUd">
                                        </a>
                                    </td>
                                    <td>
                                        &nbsp;
                                    </td>
                                    <td>
                                        <a href="https://plus.google.com/115184745863349538850/about" target="_blank" style="text-decoration: none">
                                            <img src="../imageRef/logoGp.png" height="25" width="25" alt="G+" class="CToWUd">
                                        </a>
                                    </td>
                                    <td>
                                        &nbsp;
                                    </td>
                                    <td>
                                        <a href="https://www.linkedin.com/company/app4pc-com" target="_blank" style="text-decoration: none">
                                            <img src="../imageRef/logoLin.png" height="25" width="25" alt="f" class="CToWUd">
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>